@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Lora&family=Signika:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg,#080a1f7e  0%,#2b338a98 100%) ;
    --color-primary:#080a1f;
    --color-secondary:#2b338a;
    --boton-padding: 20px 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0px;
    max-width: 1920px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../assets/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
padding: 0;
}

.nav{
display: flex;
justify-content: flex-end;
height: 60px;
align-items: center;
font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    display: flex;
    color: darkgray;
    text-decoration: none;
    margin-right: 0px;
    padding: 22px 15px;
    font-weight: inherit;
    align-items: center;
}

.nav__items:hover{
    background-color: #2f389780;
    cursor: pointer;
}

.nav__items--cta{
border: 0.5px solid darkgray;
padding: 10px 15px;
align-items: center;
display: flex;
}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    align-content: center;
    color: #a9a9a9;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
.hero__text{
    margin-left: 80px;
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0px;
}

.hero__cta{
    display: inline-block;
    background: darkgray;
    padding: var(--boton-padding);
    color: var(--color-primary);
    border-radius: 40px;
}

/*abaout*/

.presentation{
    text-align: center;
    padding-top: 0;
    justify-items: center;
    align-items: center;
}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation__copy{
    width: 80%;
    margin-top: auto;
    text-align: center;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: darkgrey;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    justify-items: center;
    align-items: center;
}

.about__image{
    text-align: center;
}

.about__image--left{
    text-align: left;
}

.about__pick{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 300;
}

.projects{
    background: #e1e3fa;
}

.projects__grid{
    display: grid;
    height: 600px;
    grid-template-areas:
    "img1 img1 img2 img2 img4 img5" 
    "img1 img1 img2 img2 img3 img3"
    ;
    gap: 10px;
}

.projects__item{
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1){
    grid-area: img1;
}

.projects__item:nth-of-type(2){
    grid-area: img2;
}

.projects__item:nth-of-type(3){
    grid-area: img3;
}

.projects__item:nth-of-type(4){
    grid-area: img4;
}

.projects__item:nth-of-type(5){
    grid-area: img5;
}

.projects__hover{
    position: absolute;
    background: #2f389780;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: darkgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
    transform: translate(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 40px;
}

.menu__container
{
    display: flex;
    justify-content: right;
    align-items:center ;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
.menu__links{
    height: 100%;
    transition: tranform .5s;
    display:flex;
}

.menu__item{
    list-style: disc;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform:rotate(0);
}

.menu__arrow{
    transform: var(--transform);
    transition: trasform .3s;
    display: block;
    margin-left: 3px;
}

.menu__pings{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #2f389780;
}

.menu__in--inside{
    padding: 30px 100px 30px 20px;
}

.menu__in--inside:hover{
    background-color: #2f389780;
    cursor: pointer;
}
/* Testimonios */

.ptestimony_item{
    font-style: italic;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    grid-column-gap: 15px;
    justify-items: center;
    align-items: center;

}

.testimony_person{
    position: relative;
}

.testimony_person img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.descripcion_testimony_item{
    width: 100%;
    height: 25%;
    bottom: 0;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: testimony_item
}